.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/
build/
out/
*.obj
*.iobj
*.ipdb
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.log
*.recipe
*.vcxproj.user
*.VC.db
*.VC.VC.opendb
*.opendb
*.ipch
*.exe
*.dll
*.lib
*.exp
*.a
*.so
*.dylib
Thumbs.db
Desktop.ini
.vscode/